/* 计划管理模块统一样式 */

.pm-body input, .pm-body select, .pm-body textarea {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #dcdfe6;
  border-radius: 8px;
  outline: none;
}

.pm-body textarea {
  min-height: 90px;
}

.pm-body input:focus, .pm-body select:focus, .pm-body textarea:focus {
  border-color: #c41c1c;
  box-shadow: 0 0 0 3px rgba(196, 28, 28, .12);
}
