/* 满意度统计页 */

.dss-icon-2rem { font-size: 2rem; }
.dss-icon-1_5rem { font-size: 1.5rem; }
.dss-icon-3rem { font-size: 3rem; }

.dss-progress-thin { height: 8px; }

.dss-truncate-200 { max-width: 200px; }
