{% extends "shared/two_column_layout_base.html" %}
{% load static %}

{% block pm_title %}{{ page_title }}{% endblock %}
{% block pm_subtitle %}创建和管理人员关系协作申请{% endblock %}

{% block pm_actions %}
{% if can_create %}
<a href="{% url 'business_pages:customer_relationship_collaboration_create' %}" class="list-btn list-btn-primary">
  创建人员关系协作申请
</a>
{% endif %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/customer/customer-relationship-collaboration-table.css' %}">
{% comment %}
  徽标样式已统一迁移到 components/badges.css 中管理
  不再需要内联样式定义
{% endcomment %}
{% endblock %}

{% block pm_content %}
  {% include "customer_management/_partials/_customer_relationship_collaboration_filters.html" %}
  {% include "customer_management/_partials/_customer_relationship_collaboration_table.html" %}
{% endblock %}
