{% extends "customer_management/_base.html" %}
{% load static %}


{% block pm_actions %}
{% if can_create %}
<a href="{% url 'business_pages:customer_create' %}" class="list-btn list-btn-primary">
  新增客户
</a>
{% endif %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/components/list_layout.css' %}">
{% endblock %}

{% block pm_content %}
  {% include "customer_management/_partials/_customer_filters.html" %}
  {% include "customer_management/_partials/_customer_table.html" %}


{% endblock %}
