{% comment %}
收文详情页面 - 配置驱动版本
这是使用配置驱动系统的新版本模板
{% endcomment %}
{% extends "shared/detail_page_base.html" %}
{% load static %}
{% load detail_tags %}

{% block title %}收文详情 - 维海科技信息化管理平台{% endblock %}

{% block detail_page_extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/details/detail.css' %}">
{% endblock %}

{% block detail_hero_icon %}📥{% endblock %}
{% block detail_hero_title %}{{ config.title }}{% endblock %}
{% block detail_hero_subtitle %}收文编号：{{ document.document_number }}{% endblock %}

{% block detail_content %}
    {% include 'shared/details/layouts/_detail_layout.html' with config=config data=document %}
{% endblock %}


